.events {
  padding-block: var(--padding-primary-block);
  gap: 1rem;
}

.event-big-title {
  text-align: center;
}

.event-contetnt {
  border: 1px solid var(--primary-yellow);
  padding: 1rem;
  gap: 1rem;
}

.event-title {
  font-family: var(--ff-primary);
}

.event-txt {
  gap: 1rem;
}

.orange {
  color: var(--primary-yellow);
}

@media (min-width: 50em) {
  .events {
    gap: 2rem;
  }

  .event-contetnt {
    flex-direction: row;
    gap: 2rem;
  }
}
